# -*- shell-script -*-
#	
#	Example MUES config file
#	$Id: MUES.cfg.example,v 1.1 2001/10/29 22:42:05 deveiant Exp $
#

### Name and admin
Name		"Experimental Mud"
Admin		"MUES Administrator <admin@localhost>"

### Root directory and path to logfile
RootDir		.
LogFile		MUES.log

### Engine (main server object)
<Engine>

	# Port to bind to
	BindPort			6565

	# Address to bind to (0.0.0.0 = all)
	BindAddress			0.0.0.0

	# Use tcpwrappers? 'yes' requires ruby-tcpwrap to be installed (see INSTALL
	# file). The daemon process name used will be 'mues'. See hosts_access(5)
	# for more information on how to use tcpwrappers.
	TcpWrapper			no

	# Length (in floating-point seconds) of delay between tick events
	TickLength			1.0

	# How many untrapped exception events to keep around for later perusal
	ExceptionStackSize	10
</Engine>


### Objectstore (object persistance)
<ObjectStore>

	# The name of the driver to use. All except the 'Dummy' driver require
	# additional modules to be installed. (See the mues/adapters directory for
	# the possible values)
	Driver			"Bdb"

	# Which host to connect to
	Host			""

	# The name of the DB to use
	Db				"mues"

	# The username to use when connecting
	Username		"mues"

	# The password to use when connecting
	Password		""
</ObjectStore>


### Event queue
<EventQueue>

	# The minimum number of workers to keep on hand
	MinWorkers		10

	# The maximum number of workers to keep on hand
	MaxWorkers		100

	# The length of time (in floating-point seconds) the supervisor is to sleep
	# between checks. A tuning parameter. Something between 0.20 and 0.70 is
	# probably good.
	Threshold		0.25
</EventQueue>


### Login session configuration
<Login>

	# How long to allow for login to succeed before focefully disconnecting
	Timeout			300

	# Maximum number of authentication attempts before disconnecting
	MaxTries		3

	# What to display for the username prompt
	UserPrompt		"Username: "

	# What to display for the password prompt
	PassPrompt		"Password: "

	# The login banner text.
	Banner <<-EOF

	This is an experimental MUES server. If you have questions, or wish to
	contribute to the project, please see http://mues.FaerieMUD.org/ and then
	contact <ged@FaerieMUD.org>.

	EOF
</Login>

### Services configuration (currently unused)
<Services>
	Classes			"RpcService,HttpService,LinguisticsService"
</Services>


### User command-shell configuration
<CommandShell>

	# Directory to load user command classes from. #{RootDir} is prepended if
	# it's not an absolute path.
	CommandsDir		shellCommands
</CommandShell>


### Environment configuration
<Environments>

	# Directory to load environment classes from. #{RootDir} is prepended if
	# it's not an absolute path.
	EnvironmentsDir	environments
</Environments>
